body{
    margin: 0;
    padding: 0 5px;
    padding-right: 10px;
}
.img1{
    width: 15%;
    height: 200px;
    min-width: 200px;
    position: absolute;
    top: 280px;
    left: 20px;
    
}
span{
    position: absolute;
    top: 160px;
    left: 120px;
    font-size: 30px;
    font-weight: bolder;
    color: brown;
}
.img2{
    width: 15%;
    height: 200px;
    min-width: 200px;
    position: absolute;
    top: 280px;
    left: 250px;
}
.img3{
    width: 15%;
    height: 200px;
    min-width: 200px;
    position: absolute;
    top: 280px;
    left: 500px;
}
h1{
    display: inline;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 50px;
    color: brown;
    align-items: center;
    margin-left: 100px;

}
div{
    display: block;
    position: relative;
    border: 5px solid black;
    width: 50%;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    animation: mymove 5s infinite;
    background-color: white;
}
@keyframes mymove {
    50% {box-shadow: 10px 20px 30px brown inset;}
  }
p{
    position: absolute;
    top: 210px;
    font-size: 20px;
    font-weight: bold;
    left: 20px;
}
h2{
    font-size: 40px;
    position: absolute;
    top: 90px;
    left: 120px;

}
.sideBarRight{
    display: inline;
    margin-left: 20px;
    text-align: center;
    font-size: 60px;
    float: right;
}
.sideBarleft{
    display: inline;
    margin-left: 20px;
    text-align: center;
    font-size: 60px;
}


@media only screen and (max-width: 500px){
    .img2{
        position: static;
        width: 20px;
    }
    .img1{
        position: static;
        width: 20px;
    }
    .img3{
        display: none;
    }
    .sideBarRight, .sideBarleft{
        display: none;
    }
    div{
        width: 100%;
        margin-right: 5px;
    }
    h1{
        font-size: 40px;
        margin: 0 auto;
    }
    h2{
        position: static;
        display: block;
        font-size: 25px;
        margin: 0 auto;
    }
    span{
        position: static;
        display: block;
        font-size: 15px;
        margin: 0 auto;
    }
   p{
    position: static;
    display: block;
    font-size: 20px;
    margin: 0 auto;
   }
    div{
    padding-top: 20px;
    height: auto;
}
}
/* @media only screen and (max-width: 1100px) {
    .img2{
        display: none;
    }
    .img1{
        width: 50%;
    }
    .img3{
        width: 50%;
        left: 50px;
    }
    .sideBarRight{
        display: none;
    }
    .sideBarleft{
        display: none;
    }
    div{
        width: 100%;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    span{
        font-size: 20px;

    }
} */